<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>WebComponent: Formulario</title>
</head>
<body>
  <template>

    <style>
      body{
        margin: 0;
      }
      form{
        padding: 20px;
        position: relative;
      }
      ::-webkit-input-placeholder{
        color: black;
      }
      input, textarea{
        display: inline-block;
        width: 100%;
        margin: 7px 0px;
        resize: none;
        padding-left: 8px;
        border-radius: 3px;
        border: 2px solid black;
        box-sizing: border-box;
        font-family: verdana;
      }
      input{
        height: 36px;
      }
      textarea{
        height: 100px;
      }
      button{
        border: none;
        background-color: black;
        color: white;
        padding: 10px;
        float: right;
        cursor: pointer;
      }
      .file{
        border: none;
      }

    </style>

  </template>

  <script>

    function typear(tipo){
      var tipos = [
        ['mail', '@', 'email'],
        ['telefono', 'phone', 'celular', 'cellphone', 'tel'],
        ['contraseña', 'contrasena', 'contrasenia', 'clave', 'pass', 'password'],
        ['numero', 'cantidad', 'cant', 'quantity', 'concurrentes', 'people', 'personas', 'number'],
        ['fecha', 'dia', 'day', 'date']
      ]
      var reg = new RegExp('^'+tipo+'\b')
      var i = 0;
      var band = 0;
      while (i < tipos.length){
        var j = 0;
        while (j < tipos[i].length){
          if (tipos[i][j].search(tipo) != -1){
            if (tipos[i][j] == tipo){
              return tipos[i][tipos[i].length-1]
              band = 1;
              break;
            }
          }
          j++
        }
        if (band == 1){
          break;
        }
        if (i == tipos.length-1 && band == 0){
          return 'text'
        }
        i++
      }
    }

    function parsear(palabra){
      var vocales = ['á', 'é', 'í', 'ó', 'ú']
      var cambio = ['a', 'e', 'i', 'o', 'u']
      var i = 0;
      palabra2 = palabra;
      while(i < palabra.length){
        palabra2 = palabra2.toUpperCase().replace(vocales[i], cambio[i]);
        palabra2 = palabra2.toLowerCase().replace(vocales[i], cambio[i]);
        palabra2 = palabra2.replace(palabra2[0], palabra[0])
        i++;
      }
      return palabra2.replace(/\s.*/, "");
    }
    (function(){
      var formulario = Object.create(HTMLElement.prototype)
      var estilos = document.currentScript.ownerDocument.querySelector('template').content;
      var plantilla = "";
      formulario.createdCallback = function(){
        var f = document.createElement('form');
        estilos.appendChild(f)
        plantilla = document.importNode(estilos, true);
        var atributos = this.attributes;
        var i = 0;
        var act = false;
        while (i<atributos.length){
          if (atributos[i].nodeName == 'action'){
            act = true
            break;
          }
          i++;
        }
        i = 0;
        while (i < atributos.length){
          if (atributos[i].nodeName.search('data') != -1){
            var attrNom = atributos[i].nodeName;
            var attrVal = JSON.parse('[' + atributos[i].nodeValue + ']');
            if (attrVal.length>1){
              attrVal.forEach(function(nombre){
              elem = document.createElement(attrNom.match(/-[a-z]*/)[0].slice(1));
              elem.setAttribute('placeholder', nombre);
              elem.setAttribute('type', typear(parsear(nombre.toLowerCase())))
              if(elem.getAttribute('type') == 'date'){
                var tmpFecha = elem;
                elem.setAttribute('type', 'text')
                elem.addEventListener('focus', function(){
                  tmpFecha.setAttribute('type', 'date')
                  this.removeEventListener('focus', function(){
                    tmpFecha.setAttribute('type', 'date')
                  })
                })
              }
              if (act){elem.setAttribute('name', parsear(nombre.toLowerCase()))}else{elem.setAttribute('ng-model', parsear(nombre.toLowerCase()))}
              plantilla.querySelector('form').appendChild(elem);
              })
            }else{
              elem = document.createElement(attrNom.match(/-[a-z]*/)[0].slice(1));
              elem.setAttribute('placeholder', attrVal[0]);
              elem.setAttribute('type', typear(parsear(attrVal[0].toLowerCase())))
              if (act){elem.setAttribute('name', parsear(attrVal[0].toLowerCase()))}else{elem.setAttribute('ng-model', parsear(attrVal[0].toLowerCase()))}
              plantilla.querySelector('form').appendChild(elem);
            }
          }else{
            if (atributos[i].nodeName == 'btn'){
                var btn = document.createElement('button');
                if (act){
                  btn.type="submit";
                  plantilla.querySelector('form').setAttribute('method', 'POST')
                }
                btn.innerHTML = atributos[i].nodeValue;
                plantilla.querySelector('form').appendChild(btn);
            }else if(atributos[i].nodeName == "file"){
              elem = document.createElement('input');
              elem.setAttribute('type','file');
              elem.setAttribute('class', 'file');
              elem.setAttribute('name', 'file');
              plantilla.querySelector('form').appendChild(elem);
            }else{
              plantilla.querySelector('form').setAttribute(atributos[i].nodeName, atributos[i].nodeValue)
            }
          }
        i++;
        }
        this.createShadowRoot().appendChild(plantilla);
      }
      document.registerElement('cz-form', {
        prototype: formulario
      })
    })()
  </script>
</body>
</html>
